@model Room
@{
    ViewData["Title"] = "Edit";
}

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TimeOfPassing" class="control-label"></label>
            <input asp-for="TimeOfPassing" class="form-control" />
            <span asp-validation-for="TimeOfPassing" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MinAmountOfPlayers" class="control-label"></label>
            <input asp-for="MinAmountOfPlayers" class="form-control" />
            <span asp-validation-for="MinAmountOfPlayers" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MaxAmountOfPlayers" class="control-label"></label>
            <input asp-for="MaxAmountOfPlayers" class="form-control" />
            <span asp-validation-for="MaxAmountOfPlayers" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MinAge" class="control-label"></label>
            <input asp-for="MinAge" class="form-control" />
            <span asp-validation-for="MinAge" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Company" class="control-label"></label>
            <input asp-for="Company" class="form-control" />
            <span asp-validation-for="Company" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Rating" class="control-label"></label>
            <input asp-for="Rating" class="form-control" />
            <span asp-validation-for="Rating" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LevelOfFear" class="control-label"></label>
            <input asp-for="LevelOfFear" class="form-control" />
            <span asp-validation-for="LevelOfFear" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LevelOfDifficulty" class="control-label"></label>
            <input asp-for="LevelOfDifficulty" class="form-control" />
            <span asp-validation-for="LevelOfDifficulty" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>